default: &default
  TOKEN_EXPIRED_IN_DAY: "30"
  HOST: 'http://localhost:3000'

development:
  <<: *default
  GMAIL_USERNAME: 'example@gmail.com'
  GMAIL_PASSWORD: 'password'
  DOMAIN: 'http://example.com'
  FIREBASE_SERVER_KEY: 'SERVER_KEY'
  STORY_NOTIFICATION_TITLE: 'រឿងអប់រំថ្មី'
  STORY_NOTIFICATION_BODY: 'យើងមានរឿងថ្មីក្រោមចំណងជើង'
test:
  <<: *default

production:
  <<: *default
  SECRET_KEY_BASE: ''
  SIDEKIQ_USERNAME: 'example'
  SIDEKIQ_PASSWORD: 'password'
