default: &default
  TOKEN_EXPIRED_IN_MONTH: "1"
  HOST: 'http://localhost:3000'

development:
  <<: *default
  GMAIL_USERNAME: 'example@gmail.com'
  GMAIL_PASSWORD: 'password'
  DOMAIN: 'http://example.com'

test:
  <<: *default

production:
  <<: *default
  SECRET_KEY_BASE: ''
  SIDEKIQ_USERNAME: 'example'
  SIDEKIQ_PASSWORD: 'password'
