<div class="col-12">

  <h3>New Story</h3>

  <form name="form" ng-submit="submit()">

    <div class="form-group row" ng-class="errorClass('title')">
      <label class="col-2 col-form-label" for="title">Title</label>
      <div class="col-6">
        <input class="form-control" ng-model="story.title" type="text" name="title" placeholder="Title" required autofocus>
      </div>
    </div>

    <div class="form-group row" ng-class="errorClass('description')">
      <label class="col-2 col-form-label" for="description">Description</label>
      <div class="col-6">
        <textarea class="form-control" name="description" rows="8" cols="80" ng-model="story.description"></textarea>
      </div>
    </div>

    <div class="form-group row" ng-class="errorClass('tags')">
      <label class="col-2 col-form-label" for="tags">Tags</label>
      <div class="col-6">
        <tags-input name="tags" placeholder="tags" use-strings="true" ng-model="story.tags"></tags-input>
      </div>
    </div>

    <div class="form-group row" ng-class="errorClass('image')">
      <label class="col-2 col-form-label" for="image">Image</label>
      <div class="col-6">
        <input class="form-control-file" ng-model="story.image" type="file" name="image">
      </div>
    </div>

    <div class="form-group offset-2">
      <a class="btn btn-light" ng-click="cancel()">Cancel</a>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>

</div>
